# Configuration Telegram API & Bot
# Obtenez API_ID et API_HASH sur https://my.telegram.org (API development tools)
TG_API_ID=37364795
TG_API_HASH=4ea7438225b07eb3f6156c518ec3cff4

# Obtenez TG_BOT_TOKEN via @BotFather sur Telegram
TG_BOT_TOKEN=8972729643:AAEcLOlmoRpe3dUc5zbiKQpntSRl8Yzg_b4

# Votre ID utilisateur Telegram (obtenez-le via @userinfobot)
TG_OWNER_ID=7540737654
