# Fichiers d'environnement et clés
.env
.env.example
# Sessions Telegram (ne jamais distribuer !)
*.session
*.session-journal

# Environnement virtuel & cache Python
venv/
BD_env/
__pycache__/
*.pyc

# Données locales et retours utilisateurs
data/*.csv
!data/.gitkeep
